<div class="card">
 <header>
  <span class="card-title">
   Marilyn Monroe
  </span>
 </header>
 <p class="card-text">I believe that everything happens for a reason. People change so that you can learn to let go, things go wrong so that you appreciate them when they're right, you believe lies so you eventually learn to trust no one but yourself, and sometimes good things fall apart so better things can fall together.</p>
</div>

<div class="sheet">
 <div class="l-margin margin">
  <div class="hole first-hole"></div>
  <div class="hole second-hole"></div>
  <div class="hole third-hole"></div>
 </div>
 <div class="r-margin margin"></div>
 <header>
  <span class="sheet-title">
   Marilyn Monroe
  </span>
 </header>
 <p class="sheet-text">I believe that everything happens for a reason. People change so that you can learn to let go, things go wrong so that you appreciate them when they're right, you believe lies so you eventually learn to trust no one but yourself, and sometimes good things fall apart so better things can fall together.</p>
</div>